/* ----- Parallax Settings ----- */
.parallax-container {
  height: 650px;
}

.sky {
  height: 850px;
}
/* ----------------------------- */

/* ------- Font Settings ------- */
.header, #contact-text, #skills, #slogan, #banner-3 {
  font-family: 'Rubik', sans-serif;
}
/* ----------------------------- */

/* ----- Banner#1 Name/Intro Settings ----- */
#slogan, #located {
  opacity: 0;
}
/* ----------------------------- */

/* ----- Banner#2 Skills Overview Settings ----- */
#html-icon, #js-icon, #css-icon {
  opacity: 0;
}

#banner-2 {
  opacity: 0;
}
/* ----------------------------- */

/* ----- Banner#3 About Me Settings ----- */
.enso {
  max-width: 500px;
  max-height: 500px;
}

#banner-3 {
  opacity: 0;
}

.about {
  font-size: 1.2em;
}

/* ----------------------------- */

/* @media (max-width: 767px) {
  .parallax-container, .sky {
    height: 1000px;
  }

  #banner-3 {
    font-size: 2.25rem;
  }

} */
